/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* buton */
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 8px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
}
.button1 {
	background-color: #a7c957;
	color: black;
	border: 2px solid #4CAF50;
}
.button1:hover {
	background-color: #4CAF50;
	color: white;
}
/* button */

/* variable */
:root {
	--primary-color: #EE2923;
	--firt-color: #97BA45;
	--second-color: #272727;
	--biendoi-transition: all 0.5ms ease-in-out;
	--background-main: #fed6e3;
	--background--extra: #ebedee;
}
/* header */

header{position: sticky !important;top: 0px;z-index: 10000;}
 .form header{top:32px !important;}
.all {
	padding: 0 200px;
	background-color: #f4f3ee;
	
}

.menubar__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	background-color: white;
	
}
.menubar__container--right ul li {
	padding: 16px 16px 16px 10px;
	list-style: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menubar__container--right ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.menubar__container--right ul li a {
	text-decoration: none;
	color: var(--second-color);
	font-size: 20px;
}
.menubar__container--right ul li a i{
	padding-right: 14px;
	
}
.menubar__container--left {
	padding: 16px  10px 16px 10px;
	background-color: var(--background--extra);
}
.menubar__container--left a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.right__logo li i {
	color: var(--background--extra);
}
.right__logo {
	background-color: var(--primary-color);
}
.menubar__container--right btn-logo:hover{
	background-color: var(--firt-color);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
}
.menubar__container--right ul li:hover {
	background-color: var(--firt-color);
	-webkit-transition: var(--biendoi-transition);
	-o-transition: var(--biendoi-transition);
	transition: var(--biendoi-transition);
}
.menubar__container--left:hover {
	background-color:var(--firt-color);
	-webkit-transition: var(--biendoi-transition);
	-o-transition: var(--biendoi-transition);
	transition: var(--biendoi-transition);
}
/* header */


/* form */
.form {
	background-image: url(./image/beforeheader.jpg);
	padding: 100px;
	padding-left: 20px;
	padding-right: 10px;
	width: auto;
	height: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.form input:focus {
	border: 1px solid var(--firt-color);
	outline: none;
	border-radius: 5px;
	-webkit-transition-duration: 0.45s;
	     -o-transition-duration: 0.45s;
	        transition-duration: 0.45s;
}
.form__container {
	background-color: var(--background--extra);
	padding: 30px;
}
.form__container--head {
	padding: 18px;
	background-color: var(--primary-color);
	font-size: 30px;
	color: var(--background--extra);
	font-weight: 100;
}

.form__container--head i {
	padding-right: 10px;
}
.form__container--body {
	padding: 80px 30px;
}
.body__textbox {
	display: flex;
	justify-content: space-between;
}

.body__textbox button {
	margin-top: 2px;
}
.form__container--body input {
	outline: none;
	border: 1px solid gray;
	padding: 10px 0 10px 10px;
}

/* zoom1 */
.zoom {
	padding: 20px 0;
}
.zoom input:focus {
	border: 2px solid var(--firt-color);
	outline: none;
	border-radius: 5px;
}
.zoom__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.zoom__head input {
	outline: none;
	border: 1px solid gray;
	padding: 10px 0 10px 10px;
	width: 200px;
}
.zoom__head label {
	display: block;
	padding-top: 16px;
	padding-bottom: 5px;
}
.zoom h1 {
	font-size: 30px;
}
.zoom p {
	font-size: 20px;
	padding-bottom: 16px;
}
.head__btn--bt {
	padding: 8.5px 79px;
	background-color: var(--firt-color);
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.head__btn--bt:hover {
	background-color: #4CAF50;
	color: white;
}

/* zoom2 */
.zoom__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.zoom__body--number {
	height: 600px;
	width: 490px;
	background-color: white;
}
.number__img:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
img {
	-o-object-fit: contain;
	   object-fit: contain;
	width: 100%;
	height: 100%;
}
.number__info {
	padding: 16px 30px;
}
.number__info p {
	font-size: 16px;
	padding-bottom: 1px;
}
.number__info--btn {
	width: 100%;
	background-color: #97BA45;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 10px 0;
	cursor: pointer;
}
.number__info--btn:hover {
	background-color: #4CAF50;
	color: white;
}
.zoom__body--number i {
	padding-bottom: 20px;
}
/* zoom */

/* map */
.mapa__contact p {
	display: inline-block;
	padding: 40px 120px;
}
.mapa__contact p i {
	color: var(--primary-color);
}
.map {
	padding: 10px 0;	
}
.map p {
	 font-size: 17px;
}
.map h1 {
	font-size: 30px;
	padding-bottom: 10px;
	
}
.mapa {
	padding: 10px 0;
	display: flex;
}
.mapa__info {
	display: inline-block;
	width: 50%;
	padding-right: 20px;
}
.mapa__img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.alert {
	background-color: var(--primary-color);
}
.alert i {
	color: white;
	padding: 0 30px;
	font-size: 30px;
}
.alert p {
	display: inline;
	color: white;
	
}
.alert__a {
	padding: 40px 0;
}
/* map */

/* hotel */
.hotel {
	width: 100%;
	padding: 0 40px;
}
.hotel p {
	padding: 20px 0;
	font-size: 20px;
}
.hotel h1 {
	font-size: 30px;
	padding-top: 20px;
}
.separate__one {
	position: relative;
}
.separate__one:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.separate__one span {
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: white;
	font-size: 20px;
}
.share1__1 {
	position: relative;
}
.share1__1:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.share1__2 {
	position: relative;
}
.share1__2:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.share2__1 {
	position: relative;
}
.share2__1:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.share2__2 {
	position: relative;
}
.share2__2:hover {
	-webkit-transform:  scale(1.1);
	    -ms-transform:  scale(1.1);
	        transform:  scale(1.1);
	z-index: 2;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.share1__1 span {
	position: absolute;
	bottom: 16px;
	left: 20px;
	color: white;
	font-size: 20px;
}
.share2__1 span {
	position: absolute;
	bottom: 16px;
	left: 20px;
	color: white;
	font-size: 20px;
}
.share1__2 span {
	position: absolute;
	bottom: 16px;
	left: 20px;
	color: white;
	font-size: 20px;
}
.share2__2 span {
	position: absolute;
	bottom: 16px;
	left: 20px;
	color: white;
	font-size: 20px;
}
.hotel__ctn--separate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.separate__two {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-left: 16px;
}
.separate__two--share1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 16px;
}
.separate__two--share2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.share1__1 {
	padding-right: 16px;
}
.share2__1 {
	padding-right: 16px;
}

/* mail */
.mail {
	background-color: var(--second-color);
	opacity: 0.7;
	color: white;
	padding: 30px 20px;
	margin-top: 30px;
}
.mail:hover {
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}
.mail h1 {
	font-size: 32px;
}
.mail h2 {
	padding: 20px 0;
	font-size: 20px;
}
.mail label {
	padding-bottom: 20px;
}
.mail button {
	margin-top: 16px;
}
.mail input {
	width: 100%;
	padding: 14px 0;
}
.mail input:focus {
	border: 2px solid var(--firt-color);
	outline: none;
	border-radius: 5px;
}


/* contact */
.contact {
	padding: 30px 16px;
}
.contact i {
	color: var(--primary-color);
	font-size: 16px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.contact h1 {
	font-size: 30px;
}
.contact h3 {
	padding: 20px 0;
}
.contact input {
	width: 100%;
	padding: 16px 0px 10px 10px;
	margin-bottom: 10px;
}
.contact input:focus {
	border: 2px solid var(--firt-color);
	outline: none;
	border-radius: 5px;
}

/* footer */
.footer {
	padding: 50px 0;
	background-color: var(--second-color);
	color: white;
	text-align: center;
	font-size: 25px;
}
.footer  i {
	color: white;
	padding: 30px 0;
}
.footer a {
	color: white;
}
